
<!DOCTYPE html>
<html lang="en" dir="@localizer["dir"]">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Localization</title>

    @if (localizer["dir"].Equals("ltr"))
    {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    }
    else
    {
    <link rel="stylesheet"
      href="https://cdn.rtlcss.com/bootstrap/v4.4.1/css/bootstrap.min.css"
      integrity="sha384-yQ02IR5BzpO2LZ70lJP2g4opr8tX6KzCmaELFzmNqlwtvTgtDJHQvuc43zCRMf1T"
      crossorigin="anonymous" />
    }
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body dir="@localizer["dir"]">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    @localizer["main"]
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@localizer["home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@localizer["privacy"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">@localizer["register"]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @await Html.PartialAsync(partialViewName: "_selectLang")
    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @if (localizer["rtl"].Equals("ltr"))
    {
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    }
    else
    {
        <script src="https://cdn.rtlcss.com/bootstrap/v4.4.1/js/bootstrap.min.js"
                integrity="sha384-8RqFNshIrK8FARYG0cBLv7D4Y2hXNUPHVWohv3STbDMZh6BU4LNoAJUA3mjCH6Zx"
                crossorigin="anonymous">
        </script>
    }
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
